# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [6]:
numberFloat = 6.3
print(numberFloat)

#CANT USE DASHES IN VARIABLE NAMES - get a cannot assign operator error

6.3

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1=2
num2 = 5.4
result = num1 + num2
print (result)

#shorthand
print(result +2)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2-num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [15]:
result_mul= num1 * num2
print(result_mul)
result_mul *=2
print(result_mul)

10.8
21.6

##### Division

##### Floor Division

In [16]:
result_floor = num2//num1
print(result_floor)

2.0

##### Modulo

In [17]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [19]:
result_exp = (5 **2)
print (result_exp)

25

### String Input-Output

##### String Assignment

In [20]:
name="Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print("This is my firrst name: ", name)   
print ("FullName: " , name,end=" Carter")  #easy way to canactenate

This is my firrst name:  Joel
FullName:  Joel Carter

##### String Concatenation

In [23]:
first_name= "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [28]:
number = "32"
canhe_type_num = int(number)
print(number)
#print(number +2)  #GET A TYPE ERROR
print(canhe_type_num)
print(canhe_type_num + 2)
#number_string= float("three") #Get a value error
print(number_string)

32
32
34

ValueError: could not convert string to float: 'three'

##### input()

In [30]:
age = int(input("w3aht is your age?: "))  #ALways a string - need to wrap input with int

print(age)
add_age = age + 1
print (add_age)

w3aht is your age?: 30
30
31

##### format()

In [38]:
age = input("what is your age? ")

result_string = "You are {} {}and you are getting wiser!".format(age,"test ") # like a for loop looking for the {}. 
#{} have to match the amount of parameters
print(result_string)

result_again = f"{age} is a great time"
print(result_again)

what is your age? 30
You are 30 test and you are getting wiser!
30 is a great time

##### Old Way (python 2)

In [42]:
resultstring2 = "you are %s and you look great" %age
print(resultstring2)

you are 30 and you look great

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")             
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

result = "My car is {} , the year is {}, the make is {}, the model is {}".format(color,year,make,model)
print(result)
result2 = f"My car is {color} , the year is {year}, the make is {make}, the model is {color}"
print(result2)

What is the color of your car? white
What is the year of your car? 2014
What is the make of your car? subaru
What is the model of your car? trek
My car is white , the year is 2014, the make is subaru, the model is trek
My car is 30 , the year is 2014, the make is subaru, the model is white

### If Statements

In [47]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("equla Values")
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than ")

Not Equal
Num2 is greater

##### 'is' keyword

In [49]:
#use the "is" keyword when chaecling for same/simialr object, NOT same value
num3 =  55
if num3 is 55:
    print("this is the exact number")

this is the exact number

##### 'in' keyword

In [51]:
#check if chatacter in name
char_name= "Max Payne"

if "Max" in char_name:
    print("The Character who list everything")

The Carracher who list everything

##### 'not in' keyword'

In [52]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [61]:
user_input = input( "Please enter a word:" )
                   

if 'p' in  user_input.lower():
    print(f"True, the letter p is in {user_input}")
else:
    print(f"The letter p is NOT in {user_input}")

Please enter a word:Peter
True, the letter p is in Peter

## Using 'and'/'or' with If Statements

In [62]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with "and" both sides have to be true
if num_11 / 5 == num_12 and num_13-7==num_14:
    print("True - both sides are true")

# if with an or stmt -  side one or the othecan be true
if num_11 > num_12 or num_13-7 == num_14:
    print("True and False")

True and False
True and False

### Elif Statements

In [64]:
first_name = "Max"

if first_name =='Smith':
    print("first name  is smith")
elif first_name != "Max":
    print("the first name is not Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

# see above

### For Loops

In [71]:
# more useful than whiles usually
# format :  for keyword,counter, in keyword, condition

#for i in range(10):
#    print(i)

name = "Joel Carter"

# don't have to specify the index - to get each letter to print out.
for i in name:
    print(i)
 
# get the same thing as above
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

In [ ]:
##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [75]:
for i in range(20):
    if i == 5:
        continue # this will restart the loop at 6 , it won;t print 5
    print (i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [76]:
for i in range(20):
    if i == 5:
        break # this break the loop at printing 4
    print (i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
#when you are not sure what you are going to do in your code yet
Best
for i in name:
    pass  ##TODO COME BACK AND FINISH CODE

##### Double For Loops

In [78]:
for i in range(5): # Outer loop
    for j in range(5): "Inner loop
        print("i = ", i, "j= ",j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4
i =  2 j=  0
i =  2 j=  1
i =  2 j=  2
i =  2 j=  3
i =  2 j=  4
i =  3 j=  0
i =  3 j=  1
i =  3 j=  2
i =  3 j=  3
i =  3 j=  4
i =  4 j=  0
i =  4 j=  1
i =  4 j=  2
i =  4 j=  3
i =  4 j=  4

### While Loops

In [79]:
#while keyword, condition
#based on the conditial statement
num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [80]:
# this can get messy
#this until something because false
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinitr loop

##### While & For Loops Used Together

In [82]:
num = 0

while num < 5:
    print("While Loop Ineration:" + str(num))
    
    for i in range(2):
        print ("For Loop nterations: " + str(i))
    num +=1

While Loop Ineration:0
For Loop nterations: 0
For Loop nterations: 1
While Loop Ineration:1
For Loop nterations: 0
For Loop nterations: 1
While Loop Ineration:2
For Loop nterations: 0
For Loop nterations: 1
While Loop Ineration:3
For Loop nterations: 0
For Loop nterations: 1
While Loop Ineration:4
For Loop nterations: 0
For Loop nterations: 1

### Built-In Functions

##### range()

In [84]:
# these are the most commonly used
# start,stop, step
#only value specifically we need are stop. default start = 0, step defailut = 1
for i in range(0,20,2):
    
    print (i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [85]:
#check lenght of variabel

#SPACES ARE INCLUDED IN STRINGS WITH LEN FUNCTION
name = "Max "
length = len(name)

print(length)

4

##### help()

In [87]:
#most helpful
#Use this function to view more info about a python function ( with a docstring)
help(len)

# the slash means nothinng else

help(range)

# shows that you only need a stop value

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [90]:
#is a particular object  is part of a object family

#check a variable to find out what object family it belongs to 
#isinstance (var, type)
print(isinstance(4.5,float))
print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("Float type")

True
False
Float type

##### abs()

In [91]:
#  |5| anything in pipes is an absolute value
print(abs(-5))

5

### Try and Except

In [137]:
#use whenever you expect to encounter a bug so that the error doesnt cause the program to stop
#Use so that you can Log out gracefully with  useful error nmessages

try:
    number_test = 0
    input_Num = int(input("guess a number: "))
    if input_Num != number_test:
        input_Num = input_Num + number_test
        print("your number is: " + str(input_Num))
except:
    print("That did not work---ERROR: Change you Input to a number ")

guess a number: wer
That did not work---ERROR: Change you Input to a number

### Lists

##### Declaring Lists

In [96]:
# add info in succession, any data type can be ina list
# used for iterating through something

list1 = [] # empty list declaration
names = ["Max","Cindy","Kathy", "Bob"]
print(names)

#think of lists like an apt block
# my apt number is 1

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [101]:
#[start: stop: step] --[-1] #this is the last value in the list

#single index
print(names[0])

#print starting at 1 going to the end- id you don't soecify a stop it goes to the end
print(names[1:])

#print starting at beginning lf lidt to the second index(anot incliding) so STOPPING AT INDEX 2
print(names[:2])

#print starting at index1 going up BY 2 in each iteration- SO NO STOP VALUE ????????????? Try in creasing
#the ampoint of names
print(names[1::2])

#MOST PREVLENT
#print starting at the back and present in reveres order

print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [102]:
#adding to the back on the list
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [114]:
#Insert a values at a specific index there has to be an EXISTING INDEX WITH ITEMS
# inserting Jimmy at index 3
names.insert(3,"Bob")
print(names)

['Max', 'Cindy', 'Jimmy', 'Bob', 'Bob']

##### .pop()

In [108]:
#allows us to
#default is the last value ( -1) if no paramter is given
#pop returns the element that was removed incase you want to assign it into a variabel

my_name = names.pop(2)
print(my_name)

print(names)

Jimmy
['Max', 'Cindy', 'Jimmy', 'Bob']


##### .remove()

In [115]:
#looking fo ra value within a list
#VALUE to be removed, not index
# if there are multiple bobs it takes out the first occurance of bob
#names.remove("Bob")

print(names)

# To remove all bobs
while "Bob" in names:
    names.remove('Bob')
print(names)

['Max', 'Cindy', 'Jimmy', 'Bob', 'Bob']
['Max', 'Cindy', 'Jimmy']

##### del()

In [116]:
#you can't assign this deleted value
#indes ot be removed not value
#BECAREFUL, can cause indexing error 

(del(names[2]))
print(names)

SyntaxError: invalid syntax (<ipython-input-116-4ed6118b4589>, line 5)

##### Concatenating Two Lists

In [117]:
#will append two lsllurrs together not add tp the elemensts ineach list

list2= [0,1,2]
list3=[3,4,5]

large_list = list2 + list3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [120]:
#lists are able to hold any type of element, including other list themselves
# they can also go as deep as you want, having many lists nested inside of each other

#the larger the data you have can might have 5 lists deep nested
names = [ "Max", "Sam", "Josh",["Sally","Sue","Tameka"]]
print(names)

# to get tameka
print(names[3][2])

#To get Sally
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Tameka
Sally

##### Looping Through Lists

In [123]:
#two ways to loop through names list
#one is by indes one is using thi IN kaeyword

#loop wiht a for loop(by idex)
for i in range(len(names)):
    print(names[i])
    
for i in names :
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [141]:
for i in range(1,1001):
    if i**3  > 1000:
        break 
    else:
        print(f"The number {i} cubed =  {i**3} which is less than or equal to  1000" )

The number 1 cubed =  1 which is less than or equal to  1000
The number 2 cubed =  8 which is less than or equal to  1000
The number 3 cubed =  27 which is less than or equal to  1000
The number 4 cubed =  64 which is less than or equal to  1000
The number 5 cubed =  125 which is less than or equal to  1000
The number 6 cubed =  216 which is less than or equal to  1000
The number 7 cubed =  343 which is less than or equal to  1000
The number 8 cubed =  512 which is less than or equal to  1000
The number 9 cubed =  729 which is less than or equal to  1000
The number 10 cubed =  1000 which is less than or equal to  1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [145]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for possible_prime in range(2, 101):
    i = 2
    #this doesn't execute first time because 2 is not in range
    #as soon as the i and the possible _prime are equal the i is out of range, try next nunber
    for i in range(2, possible_prime):
        if(possible_prime % i == 0):
            #If there is no remainder,make i the number in
            #case the result is 1. This is caught in the next if
            i = possible_prime
            break;

    # if the i == poss_prime then restart the outer loop
    if(i != possible_prime):
        print(possible_prime)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [140]:
try:
    user_input =  int(input("Please enter your age: "))

    if user_input < 18:
        print ("Kids")
    elif user_input >= 18 and user_input <= 65:
        print ("Adults")
    else:
        print("Seniors")
except:
    print("ERROR--Please enter a number for your age")

Please enter your age: zdsgf
ERROR--Please enter a number for your age